<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="nav_owner">
        <ul class="ul_owner">
            <li class="li_owner">
                <a class="address_owner" href="/#" title="store训练">Store的研磨</a>
            </li>
            <li class="li_owner">
                <a class="address_owner" href="##" title="暂未定">等待...</a>
            </li>
            <li class="li_owner">
                <a class="address_owner" href="##" title="暂未定">等待...</a>
            </li>
            <li class="li_owner">
                <a class="address_owner" href="##" title="暂未定">等待...</a>
            </li>
        </ul>
    </div>
</body>

</html>
<style type="text/css" media="screen">
.ul_owner>li {
    list-style: none;

    /*li标签按顺序向ul父元素左方浮动*/
    float: left;

    margin: 5px;
    padding: 5px;
}

.address_owner {
    text-decoration: none;
    color: #02192d;
    font-family: monospace;
}
</style>